body{
    font-family: 'Poppins', sans-serif;
}


.navbar-collapse {
    
    flex-grow: 0 !important;
    
}

/* avter img */
.avater-img{
    width: 35px;
    height: 35px;
}

/* cursor */
.cursor-pointer{
    cursor: pointer;
}

